<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Your Bookstore</title>
    <link rel="stylesheet" href="about_us.css" />
  </head>
  <body>
    <!-- About Us Content -->
    <section class="about-us">
      <div class="container">
        <h1>Welcome to BookShelf</h1>
        <p>
          We are passionate about books and committed to providing you with an
          exceptional reading experience. Our bookstore offers a diverse
          collection of books, carefully curated to cater to every reader's
          taste. Whether you're an avid reader or just getting started, you'll
          find something special here.
        </p>

        <h2>Our Mission</h2>
        <p>
          At BookShelf, our mission is to foster a love for reading by offering
          a wide range of quality books. We believe in the power of stories to
          inspire, educate, and entertain. Our goal is to connect readers with
          captivating books that leave a lasting impact.
        </p>

        <h2>Meet the Team</h2>
        <div class="team-members">
          <!-- Team Member 1 -->
          <div class="team-member">
            <img src="team_member1.jpg" alt="Inaph Khadka" />
            <h3>Inaph Khadka</h3>
            <p>CEO</p>
          </div>

          <!-- Team Member 2  -->
          <div class="team-member">
            <img src="team_member2.jpg" alt="Swecchya Khanal" />
            <h3>Swecchya Khanal</h3>
            <p>Chief Book Enthusiast</p>
          </div>

          <div class="team-member">
            <img src="team_member2.jpg" alt="Sumina Lamsal" />
            <h3>Sumina Lamsal</h3>
            <p>Chief Book Enthusiast</p>
          </div>

          <div class="team-member">
            <img src="team_member2.jpg" alt="Avinay Pacchai" />
            <h3>Avinay Pacchai</h3>
            <p>Co-Founder</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 BookShelf. All rights reserved.</p>
    </footer>
  </body>
</html>
